/* ---------- BODY ---------- */

body{
    margin:0;
    padding:0;
    font-family: Arial, sans-serif;

    background: linear-gradient(135deg, #0f172a, #1e293b);

    min-height:100vh;
    color:white;
}

/* ---------- NAVBAR ---------- */

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 40px;

    background:rgba(255,255,255,0.05);
    backdrop-filter:blur(10px);
}

.logo{
    font-size:2em;
    font-weight:bold;
    color:white;
    text-decoration:none;
}

.nav-link ul{
    display:flex;
    gap:25px;

    list-style:none;
    margin:0;
    padding:0;
}

.nav-link a{
    color:#38bdf8;
    text-decoration:none;
    font-size:18px;
    transition:0.3s;
}

.nav-link a:hover{
    color:white;
}

/* ---------- banniere ---------- */

.hero{
    text-align:center;
    padding:60px 20px;
}

.hero h1{
    font-size:3rem;
    margin-bottom:15px;
}

.hero p{
    max-width:700px;
    margin:auto;
    color:#cbd5e1;
    line-height:1.6;
}

/* ---------- CRITÈRES ---------- */

.criteria-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;

    gap:25px;

    margin:40px auto;
    width:90%;
}

.criteria-card{
    background:rgba(10, 129, 194, 0.16);

    backdrop-filter:blur(10px);

    border-radius:15px;

    padding:25px;

    width:250px;
}

.criteria-card h2{
    font-size:20px;
    margin-bottom:15px;
    color:#38bdf8;
}

.criteria-card select{
    width:100%;

    padding:12px;

    border:none;
    border-radius:8px;

    font-size:16px;
}

/* ---------- BOUTON ---------- */

.search-btn{
    padding:15px 30px;

    border:none;
    border-radius:10px;

    background:#38bdf8;

    color:white;

    font-size:16px;
    font-weight:bold;

    cursor:pointer;

    align-self:center;

    transition:0.3s;
}

.search-btn:hover{
    background:#0ea5e9;
    transform:translateY(-3px);
}

/* ---------- RÉSULTATS ---------- */

.results{
    padding:60px 30px;
}

.results h2{
    text-align:center;

    margin-bottom:40px;

    color:#38bdf8;

    font-size:2rem;
}

/* ---------- CARTES SALLES ---------- */

.gym-container{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(300px, 350px));   
    flex-wrap:wrap;

    gap:30px;

    justify-content:center;
}

.gym-card{
    background:rgba(255,255,255,0.08);

    backdrop-filter:blur(10px);

    border-radius:15px;

    overflow:hidden;

    transition:0.3s;
}

.gym-card:hover{
    transform:translateY(-8px);
}

/* ---------- IMAGES ---------- */

.gym-card img{
    width:100%;
    height:220px;

    object-fit:cover;

    display:block;
}

/* ---------- CONTENU ---------- */

.gym-info{
    padding:20px;
}

.gym-info h3{
    margin-top:0;

    color:#38bdf8;
}

.gym-info p{
    line-height:1.6;
}

.gym-info ul{
    padding-left:20px;
}

.gym-info li{
    margin-bottom:8px;
}

/* ---------- RESPONSIVE ---------- */

@media(max-width:768px){

    .navbar{
        flex-direction:column;
        gap:15px;
    }

    .nav-link ul{
        flex-wrap:wrap;
        justify-content:center;
    }

    .hero h1{
        font-size:2.2rem;
    }

    .criteria-container{
        flex-direction:column;
        align-items:center;
    }

    .criteria-card{
        width:90%;
        max-width:350px;
    }
}
