body {
    margin: 0;
    font-family: arial;
    background-image: url(photo7.jpg);
     background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 50px;
}
.card {
    position: relative;
    width: 250px;
    height: 400px;
    border-radius: 20px;
    overflow: hidden;
    text-decoration: none;
    color: white;
    transition: transform 0.3s;

}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.card::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to top,
        rgba(0,0,0,0.8),
        rgba(0,0,0,0.2)
    );
}


.card-content {
    position: absolute;
    bottom: 20px;
    left: 15px;
    right: 15px;
    z-index: 2;
    text-align: left;
}

.card h3 {
    margin: 0;
    font-size: 32px;
    font-weight: bold;
}

.card p {
    margin-top: 8px;
    font-size: 16px;
    color: #e2e8f0;
}
h1 {
    color: white;
    text-align: center;
}
.navbar {
 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;

}
.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.navbar .logo {
    font-weight: bold;
    font-size: 2em;
    align-items: center;
}
.navbar .nav-link ul {
    list-style: none;
    display: flex;
    gap: 25px;
    align-items: center;
}        
